In [1]:
import pandas as pd

## `DataFrame`

In [ ]:
# DataFrame
# Pandas data table representation

df = pd.DataFrame(
     {
         "Name": [
             "Braund, Mr. Owen Harris",
             "Allen, Mr. William Henry",
             "Bonnell, Miss. Elizabeth",
         ],
         "Age": [22, 35, 58],
         "Sex": ["male", "male", "female"],
     }
)

df

## `Series`

In [ ]:
# Each column in a `DataFrame` is a `Series`

df["Age"]

In [ ]:
# You can create a Series from scratch as well
ages = pd.Series([22, 35, 58], name="Age")

ages

## Do something with a `DataFrame` or `Series`

In [ ]:
# function

df["Age"].max()

In [ ]:
#  basic statistics of the numerical data

df.describe()

# How to read and write tabular data?

In [ ]:
# pd.read_*()
titanic = pd.read_csv("https://raw.githubusercontent.com/pandas-dev/pandas/main/doc/data/titanic.csv")
# print(titanic)

In [ ]:
# 前几行
titanic.head(8)

# 末几行
# titanic.tail(4)

In [ ]:
titanic.dtypes

In [ ]:
# titanic.to_excel("titanic.xlsx", sheet_name="passengers", index=False)
# 如果没有指定 sheet_name 则默认为 Sheet1
# titanic = pd.read_excel("titanic.xlsx", sheet_name="passengers")

In [ ]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32144 entries, 0 to 32143
Data columns (total 5 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   date                          32144 non-null  object
 1   temperature_2m_mean           32144 non-null  float64
 2   precipitation_sum             32144 non-null  float64
 3   soil_moisture_7_to_28cm_mean  32144 non-null  float64
 4   city                          32144 non-null  object
dtypes: float64(3), object(2)
memory usage: 1.2+ MB

## Select a subset of `Dataframe`

In [11]:
ages = titanic["Age"]

print(ages.head(3))

type(ages)

0    22.0
1    38.0
2    26.0
Name: Age, dtype: float64

pandas.core.series.Series

In [12]:
titanic["Age"].shape

(891,)